<footer th:fragment="site-footer" class="site-footer">
    <div class="container footer-inner">
        <div class="footer-col">
            <div class="brand row">
                <img th:src="@{/img/logo.png}" alt="VinFast" class="brand-logo">
                <span class="brand-text">Cộng đồng VinFast Toàn cầu</span>
            </div>
            <ul class="list">
                <li>Công ty Cổ phần Sản xuất và Kinh doanh VinFast</li>
                <li>Khu Kinh tế Đình Vũ - Cát Hải, Thị trấn Cát Hải, Huyện Cát Hải, TP. Hải Phòng</li>
                <li>Chịu trách nhiệm nội dung: Phạm Minh Ngọc</li>
                <li>Giấy phép thiết lập MXH số: 463/GP-BTTTT, ký ngày 21/09/2022</li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="list">
                <li><a href="#" class="link">Quy định hoạt động</a></li>
                <li><a href="#" class="link">Chính sách bảo mật</a></li>
                <li><a href="#" class="link">Bảng quyền lợi thành viên</a></li>
                <li><a href="#" class="link">Câu hỏi thường gặp</a></li>
                <li><a href="#" class="link">Chính sách và Thông báo</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul class="list">
                <li>1900 23 23 89</li>
                <li><a href="mailto:support@vinfast.vn" class="link">support@vinfast.vn</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            © 2022 - 2025 VinFast Community Website.
        </div>
    </div>
</footer>
